*{
    margin: 0;
    padding: 0;
}
.navbar{
    height: 70px;
    width: 100vw;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    display: flex;
}
.navLeft{
    width: 30%;
}
.navLeft.logo{
    padding: 10px;
}
.navRight{
    display: flex;
    width: 60%;
    justify-content: flex-end;
    align-items: center;
.logo{
    display: flex;
}
}
.home,
.about,
.blog,
.contac{
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.navLeft{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.content{
    height: 80vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
}
.footer{
    width: 100vw;
    height: 80px;
    background-color: #ffffff;
}